<div class="row">
	<% @products.each do |product| %>
		
		<!-- product well start -->
		<div class="col-md-4">
			<div class="well">
				
				<%= image_tag product_pic(product), size: 100 %>


				<h3><%= link_to product.name, product %></h3>
				<h3><%= money(product.price) %></h3>
				<p><%= product.description %></p>
				<p><i>Made by: <%= product.brand %></i></p>
				<p>
					<a href="" data-toggle="modal" data-target="#myModal_<%= product.id %>">
						<span class="glyphicon glyphicon-plus"></span>Quick Info
					</a>
				</p>
			</div>
		</div>
		<!-- product well end -->


		<!-- modal code  start -->
		<div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      </div>
		      <div class="modal-body">
		      	
		      	<%= image_tag product_pic(product), size: 250 %>

				<h3><%= link_to product.name, product %></h3>
				<h3><%= money(product.price) %></h3>
				<p><%= product.description %></p>
				<p><i>Made by: <%= product.brand %></i></p>
		      </div>
		      <div class="modal-footer">
		        <p>
		        	<%= form_tag add_to_cart_path do %>
		        		<%= hidden_field_tag :product_id, product.id %>
		        		<%= number_field_tag :quantity, nil, placeholder: "How many?" %>
		        		<%= submit_tag "Add to Cart", class: "btn btn-success" %>
		        	<% end %>
		        </p>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- modal code end -->
	<% end %>
</div>

